.register{
  display: flex;
}

.register-logo{
  margin-left: 32px;
  img{
    width: 117px;
    height: 48px;
  }
}

.left-3{
  width: 300px;
  p{
    font-family: Arial;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.register-title{
  margin-top: 52px;
  margin-left: 600px;
  font-family: Arial;
  font-size: 35px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  color: #191919;
}


.left-1{
  display: flex;
}

.register-left{
  margin-top: 118px;
  width: 300px;
  margin-left: 369px;
}

.left-1-1{
  width: 138px;
  height: 33px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 10px;
  border-color: #8F8F8F;
  font-family: Arial;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  align: left;
  vertical-align: Center;
}

.left-1-2{
  width: 138px;
  height: 33px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 10px;
  border-color: #8F8F8F;
  font-family: Arial;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  align: left;
  vertical-align: Center;
  margin-left: 24px;
}

.left-2-1{
  height: 33px;
  margin-top: 24px;
  width: 306px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  font-family: Arial;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  align: left;
  vertical-align: center;
}

.left-2-2{
  height: 33px;
  margin-top: 24px;
  width: 306px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  font-family: Arial;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  align: left;
  vertical-align: center;
}

.left-3{
  margin-top: 26px;
  p{
    font-family: Arial;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #767676;
  }
}

.left-4{
  margin-top: 18px;
  button{
    height: 48px;
    width: 300px;
    left: 0px;
    top: 262px;
    border-radius: 24px;
    color: #fff;
    background-color: #8F8F8F;
    border: none;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.right-1{
  margin-top: 150px;
  margin-left: 90px;
  button{
    width: 250px;
    height: 40px;
    border-radius: 30px;
    background-color: #fff;
    border: 0.5px solid black;
    font-size: 16px;
  }
}

.register-right{
  margin-top: 62px;
  height: 410px;
  margin-left: 80px;
  border-left: 1px solid #767676;
}

.footer{
  margin-top: 187px;
  height: 160px;
  p{
    margin-top: 41px;
    font-family: Arial;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    text-align: center;
  }
}