.section{
  margin-left: 110px;
  margin-right: 120px;
  margin-top: 86px;
}

.categories-title{
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 30px;
}

.categories-wrapper{
  margin-top: 26px;
  display: flex;
  align-items: center;
}

.image-wrapper{
  img{
    width: 150px;
    height: 150px;
    border-radius: 77px;
  }
}

.categories-link{
  margin-left: 25px;
}

.category-title{
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 5px;
  color: black;
}