.single-product-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 5px;
  font-family: sans-serif;
}

.product-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  width: 230px;
  height: 420px;
}

.product-item p{
  margin-top: 7px;
  margin-bottom: 7px;
  color: #575757;
  word-break: break-word;
}

.product-item h3{
  font-size: 22px;
  padding-top: 0px;
  word-break: break-word;
  margin-top: 10px;
}

.product-item h3{
  text-decoration: none;
  color: #002f34;
  word-break: break-word;
}

.product-item strong{
  font-size: 20px;
  font-weight: 600;
}

.product-info svg{
  align-self: flex-end;
  font-size: 35px;
  min-width: 20px;
}

.product-img{
  img{
    width: 241px;
    height: 241px;
  }
}

.free{
  margin-top: 5px;
  padding-top: 5px;
}

.others{
  display: flex;
  justify-content: space-between;
  svg{
    margin-top: 4px;
    width: 22px;
    height: 22px;
  }
}

.section{
  margin-left: 160px;
}