.p-wrapper_img{
  height: 152.3125px;
  width: 150.3125px;
  border-radius: 77px;
  img{
    width: 130px;
    height: 130px;
    border-radius: 77px;
  }
}
.p-wrapper_title{
  text-decoration: none;
  margin-top: 10px;
  h3{
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
  }
}